<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/img/favicon.png" type="image/png">
    <title>Tinhead Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css?v=1.1">
    <link rel="stylesheet" href="~/vendors/linericon/style.css?v=1.0">
    <link rel="stylesheet" href="~/css/font-awesome.min.css?v=1.0">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css?v=1.0">
    <link rel="stylesheet" href="~/vendors/lightbox/simpleLightbox.css?v=1.0">
    <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css?v=1.0">
    @*<link rel="stylesheet" href="~/vendors/animate-css/animate.css?v=1.0">*@
    @*<link rel="stylesheet" href="~/vendors/jquery-ui/jquery-ui.css?v=1.0">*@
    <!-- main css -->
    <link rel="stylesheet" href="~/css/style.css?v=1.2">
    <link rel="stylesheet" href="~/css/responsive.css?v=1.1">
    <script src="~/js/jquery-3.2.1.min.js?v=1.0"></script>
    <script src="~/js/popper.js?v=1.0"></script>
    @*<script src="~/js/bootstrap.min.js?v=1.0"></script>*@
    <script src="~/vendors/nice-select/js/jquery.nice-select.min.js?v=1.0"></script>
    @*<script src="~/vendors/jquery-ui/jquery-ui.js?v=1.0"></script>*@
    <script src="~/js/jquery.ajaxchimp.min.js?v=1.0"></script>
    <style>
        a {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!--================Header Menu Area =================-->
    @*<header class="header_area">*@
    <header class="">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="~/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav">
                            <li class="nav-item"><a class="nav-link" href="index.html">Blog</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="category.html">Category</a></li>
                                <li class="nav-item active"><a class="nav-link" href="archive.html">Archive</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Sinlge Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>*@
                        </ul>
                        <ul class="nav navbar-nav navbar-right header_social ml-auto">
                            @*<li class="nav-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fa fa-behance"></i></a></li>*@
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="logo_part">
            <div class="container">
                <a class="logo" href="#" style="color: black; font-size: 40px;">
                    <strong style=" border-right: 1px solid #e6e6e6; padding-right: 15px;">Tinhead</strong>
                    <span style="font-size: 24px;"> Personnel Blog</span>
                </a>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    @RenderBody()
    <!--================ start footer Area  =================-->

    <footer class="footer-area p_10">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved Tinhead
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="~/js/stellar.js?v=1.0"></script>
    <script src="~/vendors/lightbox/simpleLightbox.min.js?v=1.0"></script>
    <script src="~/vendors/isotope/imagesloaded.pkgd.min.js?v=1.0"></script>
    <script src="~/vendors/isotope/isotope-min.js?v=1.0"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js?v=1.0"></script>
    <script src="~/js/mail-script.js?v=1.0"></script>
    <script src="~/js/theme.js?v=1.0"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script type="text/javascript">

    var Type;
    var PageIndex;
    var ClassifyId;
    var CreateTime;
    var SearchText;

    function SetParameter(obj) {
        var type = obj.type;
        var pageIndex = obj.pageIndex;
        var classifyId = obj.classifyId;
        var createTime = obj.createTime;
        var searchText = obj.searchText;

        Type = type ? type : '';
        PageIndex = pageIndex ? pageIndex : 1;
        ClassifyId = classifyId ? classifyId : 0;
        CreateTime = createTime ? createTime : 0;
        SearchText = searchText ? searchText : '';
    }

    function ResetParameter() {
        Type = '';
        PageIndex = 1;
        ClassifyId = 0;
        CreateTime = 0;
        SearchText = '';
    }

    function Action() {
        location.href = '/' +
            '?type=' + (Type ? Type : '') +
            '&pageIndex=' + (PageIndex ? PageIndex : 1) +
            '&classifyId=' + (ClassifyId ? ClassifyId : 0) +
            '&createTime=' + (CreateTime ? CreateTime : 0) +
            '&searchText=' + (SearchText ? SearchText : '');
    }

    function goToPage() {
        var pageIndex = $("#inputGoToPage").val();
        PageIndex = pageIndex ? pageIndex : 1;
        Type = 'skip';
        Action();
    }

    function SearchNoteBySearchText() {
        ResetParameter();
        var searchText = $("#searchText").val();
        SearchText = searchText ? searchText : '';
        Type = 'search';
        PageIndex = 1;
        Action();
    }

    function SearchNoteByClassifyId(classifyId) {
        ResetParameter();
        ClassifyId = classifyId ? classifyId : 0;
        Type = 'className';
        PageIndex = 1;
        Action();
    }

    function SearchNoteByCreateTime(createTime) {
        ResetParameter();
        CreateTime = createTime ? createTime : 0;
        Type = 'createTime';
        PageIndex = 1;
        Action();
    }


</script>
